body{
    background-color: rgb(9, 121, 133);
}
main{
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#div-form-login{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(215, 146, 18);  
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.111), 2px 2px 5px black;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input
{
    width: 50%;
}
.form-group{
    height: calc(25%-50px);
}

button {
    transition-duration: 0.4s;
    width: 50%;
    border-radius: 5px;
    background-color: rgb(51, 143, 162);
    color: black
}
button:hover {
    background-color: rgb(9, 121, 133); 
    color: white;
}
  
label{
    font-family: 'Courier New';
}

/*media query em ultimo*/

